@import "./variables.scss";
@import "./mixins.scss";
.about {
  h1 {
    font-size: 6rem;
    margin-left: 40px;
    font-weight: lighter;
    margin-bottom: 40px;

    @include mobile {
      font-size: 4rem;
      margin-left: 20px;
    }
  }

  .about-inner {
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px;

    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
    p {
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 1.5;
      margin-bottom: 40px;

      @include mobile {
        text-align: justify;
      }
    }

    img {
      width: 500px;
      max-width: 1000px;
      height: 500px;
      object-fit: cover;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      border: 5px solid $primary-color;

      @include mobile {
        width: 300px;
        height: 300px;
      }
    }
  }
}
