.before {
  .head {
    font-size: 6rem;
    margin-left: 40px;
    font-weight: lighter;
    margin-bottom: 40px;

    @include mobile {
      font-size: 3rem;
      margin-left: 20px;
    }
  }

  .heading {
    font-size: 4rem;
    margin-left: 40px;
    font-weight: lighter;
    margin-bottom: 10px;

    @include mobile {
      font-size: 3rem;
      margin: 0px;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 40px;
    margin: 0 40px;

    @include mobile {
      text-align: justify;
      margin: 0 20px;
    }
  }
}
