@import "./variables.scss";
@import "./mixins.scss";

.contact {
  .head {
    font-size: 6rem;
    margin-left: 40px;
    font-weight: lighter;
    margin-bottom: 40px;

    @include mobile {
      font-size: 3rem;
    }
  }

  .contacts {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contact-card {
  width: 300px;
  height: 300px;
  background-color: $primary-color;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    background-color: white;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  img {
    width: 42px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: lighter;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;

  .input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: lighter;
    outline: none;
    border: 2px solid black;
  }

  textarea {
    width: 300px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: lighter;
    border: 2px solid black;
  }

  .flex {
    justify-content: center;
    gap: 30px;

    @include mobile {
      flex-direction: column;
      gap: 0;
    }
  }
}
