@import "./mixins.scss";
footer {
  background-color: $bg-color;
  padding: 2rem 0;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: static;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  z-index: 1;
  overflow: hidden;
  background-color: $primary-color;
  color: black;

  @include mobile {
    padding: 1rem 0;
    margin-top: 1rem;
  }
  .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
    a {
      color: black;
      font-size: 2rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px);
        color: $pink;
      }
    }
  }
  .rights {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
