@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "./navbar.scss";
@import "./variables.scss";
@import "./home.scss";
@import "./mixins.scss";
@import "./footer.scss";
@import "./books.scss";
@import "./contact.scss";
@import "./about.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: "Space Grotesk", sans-serif;
}

.flex {
  display: flex;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $primary-color;
  font-size: 1.6rem;
  font-weight: 500;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: inherit;

  &.border {
    border: 2px solid black;
    background-color: transparent;
    color: black;

    &:hover {
      background-color: $primary-color;
    }
  }

  &:hover {
    transform: translateY(-5px);

    filter: brightness(1.2);
  }
}

.line {
  width: 1px;
  height: 100%;
  background-color: #555555;
  margin: 0 1rem;

  @include mobile {
    display: none;
  }
}
