@import "variables.scss";
@import "./mixins.scss";

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100.05px);
  margin: 0 5rem;

  @include mobile {
    flex-direction: column;
    margin: 0 1rem;
  }

  .left {
    @include mobile {
      margin-top: 2rem;
    }
    font-size: 16px;
    h1 {
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 1rem;

      .block {
        border-radius: 56px;
        padding: 0 1rem;
        font-weight: 200;
        font-size: 2rem;
        background-color: $primary-color;
      }

      .name {
        font-weight: 446;
        letter-spacing: 3px;
      }
    }

    .description {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 1rem;
      width: 600px;

      @include mobile {
        width: 100%;
      }
    }

    .flex {
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

.landLeft {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.right {
  position: relative;
  width: 50%;
}

.landRight {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: calc(100vh - 100.05px);

  .right-p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
    position: absolute;
    background-color: $primary-color;
    z-index: 999;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid black;
    top: 15%;

    @include mobile {
      display: none;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // position: relative;
    img {
      position: absolute;
      border-radius: 10px;
      padding: 0.2em 0.2rem;
      border: 2px solid black;
      object-fit: cover;
    }

    .top-left {
      top: 8px;
      left: 16px;

      width: 287px;
      height: 423px;
      transform: rotate(-14.49deg);
    }

    .top-right {
      top: 8px;
      right: 20px;

      width: 163.39px;
      height: 240.81px;
      transform: rotate(10.72deg);
    }

    .bottom-left {
      bottom: 8px;
      left: 14px;
      z-index: 9;
      width: 163.39px;
      height: 240.81px;
      transform: rotate(10.72deg);
    }

    .bottom-right {
      bottom: 8px;
      right: 16px;
      width: 287px;
      height: 423px;
      transform: rotate(14.49deg);
    }

    .center {
      width: 287px;
      height: 423px;
      z-index: 9;
      bottom: 20vh;
      left: calc(50% / 2);
    }

    @include mobile {
      display: none;
    }
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    bottom: 10%;
    gap: 20px;

    h1 {
      font-weight: 446;
      font-size: 30px;
    }

    .arrow {
      border-radius: 50%;
      padding: 0.5rem 0.5rem;
      display: flex;
      border: none;
      background-color: $yellow;
      justify-content: center;
      align-items: center;
    }

    @include mobile {
      display: none;
    }
  }
}
